<div class="h-100 d-flex flex-column main" *ngIf="appData">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><span class="fw-bold">{{appData.heading}}</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row h-100">
      <div class="col-4 col-md-4 col-xl-3 p-0">
        <div class="list-group">
          <a routerLink="/question" [queryParams]="{index: i}" class="list-group-item list-group-item-action"
            *ngFor="let question of appData.questions; let i = index">
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <p class="m-0 fw-bold">Q.{{i+1}}&nbsp;&nbsp;&nbsp;<span class="badge bg-primary">Section
                    {{question.section}}</span>
                </p>
                <small class="text-muted">{{question.title}}</small>
              </div>
              <span *ngIf="getResponse(i)" class="badge bg-success">
                <fa-icon [icon]="faCheck"></fa-icon>
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="col-8 col-md-8 col-xl-9 bg-grey">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
