<div class="container-fluid mt-5" *ngIf="question">
  <h2 class="fw-bold text-muted">SECTION {{question.section}}</h2>
  <h4 class="mb-3">{{question.title}}</h4>

  <ng-container [formGroup]="questionForm">
    <ng-container *ngIf="question.type == 'radio'">
      <div class="form-check" *ngFor="let option of question.options; let i = index">
        <input class="form-check-input" type="radio" [id]="'option' + i" [value]="i" formControlName="question">
        <label class="form-check-label" [for]="'option' + i">
          {{option.title}}
        </label>
      </div>
    </ng-container>
  </ng-container>


  <hr class="mt-4 mb-4">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="continue()" [disabled]="questionForm.invalid">CONTINUE</button>
  </div>

</div>
