<div class="container-fluid mt-5" *ngIf="question && formReady">
  <h4 class="mb-5 display-3 fw-bold text-center">{{question.title}}</h4>

  <div class="text-center mb-5" [formGroup]="questionForm">
    <ng-container *ngIf="question.type == 'radio'">
      <div [ngClass]="{'btn-group-vertical': question.alignment == 'vertical'}">
        <div class="btn-group" [ngClass]="question.alignment == 'vertical' ? 'mb-3' : 'mx-3 my-3'" role="group"
          aria-label="Basic radio toggle button group" *ngFor="let option of question.options; let i = index">
          <input type="radio" class="btn-check" [id]="'option' + i" [value]="i" formControlName="radio"
            autocomplete="off">
          <label class="btn btn-outline-primary" [for]="'option' + i">{{option.title}}</label>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="question.type == 'input'">
      <div class="row justify-content-center">
        <div class="col-md-6 col-xl-4">
          <input type="text" class="form-control" placeholder="Enter your response" formControlName="input">
        </div>
      </div>
    </ng-container>

    <div class="btn-group-vertical" *ngIf="question.type == 'checkbox'">
      <ng-container *ngFor="let control of checkboxes.controls; let i = index">
        <div class="btn-group mb-3" role="group">
          <input type="checkbox" class="btn-check" [id]="'control' + i" [value]="i" autocomplete="off"
            [formControl]="control">
          <label class="btn btn-outline-primary" [for]="'control' + i">{{question.options[i].title}}</label>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="question.type == 'slider'">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
          <div class="container-fluid">
            <div class="row">
              <div class="col-6 mb-5">
                <div *ngFor="let control of sliders.controls; let i = index">
                  <div class="mb-5 px-5">
                    <p class="text-muted fw-medium">{{question.options[i].title}}</p>
                    <ngx-slider [formControl]="control" [options]="question.options[i].config.options">
                    </ngx-slider>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h1 class="mt-5 mb-5 fw-bold">TOTAL: {{getSliderTotal()}}%</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="question.type != 'radio'">
    <hr class="mt-4 mb-4">
    <div class="d-flex justify-content-end">
      <button *ngIf="this.recordedAnswer" class="btn btn-outline-danger py-2 px-4 fw-bold" (click)="continue()"
        [disabled]="questionForm.invalid">SAVE</button>
      <button *ngIf="!this.recordedAnswer" class="btn btn-outline-primary py-2 px-4 fw-bold" (click)="continue()"
        [disabled]="questionForm.invalid">SUBMIT</button>
    </div>
  </ng-container>
</div>
