@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;

  &:focus {
    outline: none !important;
  }
}

html,
body {
  width: 100%;
  height: 100%;
}

.ngx-slider {
  .ngx-slider-bubble {
    background: #0E6EFF !important;
    color: #FAFAFA !important;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 0 5px !important;
  }

  .ngx-slider-pointer {
    background: #0E6EFF !important;
  }
}

.fw-medium {
  font-weight: 600;
}

// .btn {
   //   font-weight: bold !important;
   //   padding: 0.7rem 3rem !important;
   // }