$dotWidth: 30px;
$dotWidthSmall: 20px;
$dotActiveWidth: 45px;
$dotActiveWidthSmall: 30px;

.container-fluid {
  .line {
    position: absolute;
    height: 2px;
    background-color: #ecf0f1;
    left: 0;
    right: 0;
  }

  .dots {
    z-index: 1;

    .dot {
      cursor: pointer;
      background-color: #7f8c8d;
      color: #FAFAFA;
      width: $dotWidth;
      height: $dotWidth;
      border-radius: $dotWidth/2;
      border: 2px solid transparent;

      &.active {
        background-color: #0d6efd;
      }

      &:hover {
        border-color: #0d6efd;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container-fluid {
    .dots {
      .dot {
        width: $dotWidthSmall;
        height: $dotWidthSmall;
        border-radius: $dotWidthSmall/2;
      }
    }
  }
}